[submodule "themes/journal"]
	path = themes/journal
	url = https://github.com/damiencaselli/hugo-journal.git
[submodule "themes/beyondnothing"]
	path = themes/beyondnothing
	url = https://github.com/salcan/BeyondNothing.git
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite
[submodule "themes/hugo-journal"]
	path = themes/hugo-journal
	url = https://github.com/damiencaselli/hugo-journal.git
